body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

header {
    background-color: rgb(23, 233, 93);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    height: 15vh;
}

.buttons div {
    border: 3px outset #b3571a;
    background-color: white;
    padding: 14px 90px;
    border-radius: 5px;
    font-size: large;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.buttons div a {
    text-decoration: none;
}

.buttons div:hover {
    cursor: pointer;
    background-color: rgb(172, 172, 172);
}

main {
    display: flex;
}

main aside {
    background-color: rgb(183, 182, 182);
    width: 30%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

main div {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: orange;
}

a:visited {
    color: darkgreen;
}

ol {
    margin: 0;
}

.slimaki li {
    color: rgb(252, 62, 62);
}

.ryby li {
    color: rgb(96, 96, 255);
}

footer {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(99, 188, 129);
    color: #ea640b;
    padding: 10px 50px;
    height: 8.5vh;
    font-size: 50px;
}